.progressive-img_filter-blur {
  /* Dark magic from https://stackoverflow.com/a/48095387/2338507 */
  filter: url('#sharpBlur');
}

.progressive-img_wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progressive-img_tiny {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity .5s ease-in;
}

.progressive-img_full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease-out;
  object-fit: contain;
}

.progressive-img_hidden {
  opacity: 0;
}

.filter-svg {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
